@media (min-width: 601px) {

.markerButton{
  width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#searchbuttons{
  margin: 10px;

  width: 50%;
}
#searchButtonDiv{
  width: 100%;
}
#mySearch{
  width: 100%;
  margin: 10px;
}
#sidebar{
  width: 25%;height: 300px; float: left;
}
#map{
  width: 75%; height: inherit; float: left; position: relative; overflow: hidden;
}

}
@media (max-width: 600px) {
  #sidebar{
    width: 100%;height: 25%;
  }
  #map{
    width: 100%; height: 75%;
    overflow: visible;
  }
}
